<!DOCTYPE html>
<html dir="rtl">
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <%- include('./common/headCDN.ejs') %>
    
  </head>

  <body class="bg-success">
    <div class="container-xxl w-100">
      <%- include('./common/navbar.ejs')  %>
     
    </div>
    
  </body>
</html>
